@inject Toolbelt.Blazor.I18nText.I18nText I18nText
<AuthorizeView>
    <Authorized>
            <span class="align-middle m-2">@languageTable["Hello"], @context.User.Identity?.Name!</span>
            <a class="btn btn-outline-info float-end m-2" href="Account/Logout">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a class="btn btn-outline-success float-end m-2" href="Account/Login?redirectUri=/">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code
{
    LanguageTable languageTable = new LanguageTable();

    protected override async Task OnInitializedAsync()
    {
        languageTable = await I18nText.GetTextTableAsync<I18nText.LanguageTable>(this);
    }
}
