@using Blazored.Toast.Configuration;
@inherits LayoutComponentBase

<PageTitle>IntelliHouse2000</PageTitle>

<div class="page">
    <RadzenContextMenu />
    <RadzenTooltip />
    <RadzenNotification />
    <RadzenDialog />
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>

        <div class="top-row px-4 auth">
            <AccessControl />
            <PageHeader />
            <LanguageSwithcer />
        </div>
        <BlazoredToasts Position="ToastPosition.BottomCenter"
                        Timeout="5"
                        IconType="IconType.FontAwesome"
                        ErrorIcon="fas fa-times-circle"
                        InfoIcon="fas fa-info"
                        SuccessIcon="fas fa-check"
                        WarningIcon="fas fa-exclamation-triangle"
                        MaxToastCount="3" />

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>