@inject Toolbelt.Blazor.I18nText.I18nText I18nText

<div class="top-row ps-3 navbar" style="background-color:blueviolet">
    <div class="container-fluid">
        <a href="#" aria-label="Home page">
            <picture>
                <img src="/Images/Intellihouse2000Logo.png" alt="IntelliHouse2000 logo" style="width:100%" />
            </picture>
        </a>
    </div>
    <button title="Navigation menu" type="button" class="navbar-toggler" @onclick="ToggleNavMenu">
        <i class="fa-solid fa-bars"></i>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">

    <nav class="flex-column">
        <RadzenPanelMenu>
            <AuthorizeView Roles="IntelliAdmin, IntelliRead, IntelliWrite">
                <RadzenPanelMenuItem Text="@languageTable["Home"]" Path="/" Icon="home"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="@languageTable["Log"]" Path="/Log" Icon="inventory_2"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="@languageTable["Climate"]" Path="/Climate" Icon="thermostat"></RadzenPanelMenuItem>
            </AuthorizeView>
        </RadzenPanelMenu>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    LanguageTable languageTable = new LanguageTable();

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override async Task OnInitializedAsync()
    {
        languageTable = await I18nText.GetTextTableAsync<I18nText.LanguageTable>(this);
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }


}
