<div class="top-row ps-3 navbar" style="background-color:blueviolet">
    <div class="container-fluid">
        <a href="#" aria-label="Home page">
            <picture>
                <img src="/Images/Intellihouse2000Logo.png" alt="IntelliHouse2000 logo" style="width:100%" />
            </picture>
        </a>
    </div>
    <button title="Navigation menu" type="button" class="navbar-toggler" @onclick="ToggleNavMenu">
        <i class="fa-solid fa-bars"></i>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">

    <nav class="flex-column">
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="Home" Path="/" Icon="home"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Tabs" Icon="subject">
                <RadzenPanelMenuItem Text="Tab1" Path="/"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Tab2" Path="/"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
        </RadzenPanelMenu>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool expandSfc;
    private bool expandSubNavProdFloor;
    private bool expandProcess;
    private bool expandEquipment;
    private bool expandExternalSys;
    private bool expandHelp;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
