@inject IJSRuntime jsRuntime
<div class="top-row">
    <div class="col-auto text-center">
        <RadzenCard Class="rz-shadow-6 " style="background-color:blueviolet">
            <h2 class="text-white">@Title</h2>
        </RadzenCard>
    </div>
</div>

@code {

    public string Title = "";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

            Title = await jsRuntime.InvokeAsync<string>("getTitle");
            await InvokeAsync(() => StateHasChanged());
    }
}

