@page "/"
@using IntelliHouse2000.Models.Alarm
@implements IDisposable
@attribute [Authorize(Roles = "IntelliAdmin, IntelliRead, IntelliWrite")]


<PageTitle>@languageTable["Home"]</PageTitle>

<div class="text-center">

    <div class="row">
        <h1>@languageTable["Welcome"]</h1>
    </div>
    <AuthorizeView Roles="IntelliAdmin, IntelliWrite">
        <div class="row">
            <div class="col-4">
                <RadzenCard Class="rz-shadow-10" style="margin: 15px">
                    <RadzenButton Icon="notifications_off" Text="Disarm" Click="async () => await SetArmedAsync(ArmedState.Disarmed)" ButtonStyle="ButtonStyle.Primary" class="rz-ripple" />
                </RadzenCard>
            </div>
            <div class="col-4">
                <RadzenCard Class="rz-shadow-10" style="margin: 15px">
                    <RadzenButton Icon="circle_notifications" Text="Partially Arm" Click="async () => await SetArmedAsync(ArmedState.PartiallyArmed)" ButtonStyle="ButtonStyle.Danger" class="rz-ripple" />
                </RadzenCard>
            </div>
            <div class="col-4">
                <RadzenCard Class="rz-shadow-10" style="margin: 15px">
                    <RadzenButton Icon="notification_important" Text="Fully Arm" Click="async () => await SetArmedAsync(ArmedState.FullyArmed)" Shade="Shade.Darker" ButtonStyle="ButtonStyle.Danger" class="rz-ripple" />
                </RadzenCard>
            </div>

        </div>
    </AuthorizeView>


</div>



